<main>
    <header>
        <h1>Cadastro</h1>
    </header>

    <form action="/produtos/add" method="post">
        <input type="text" name="reino" placeholder="Reino.. EX: animal, vegetal, fungi, protista e monera.">
        
        <input type="text" name="nome" placeholder="EX: Borboleta, fungo, metal ETC">

        <input type="text" name="sub" placeholder="Descrição">

        <input type="text" name="historico" placeholder="Histórico">

        {{!-- <input type="image"> --}}

        <input type="submit" value="Doar">
    </form>
</main>